# ==========================================
# 1. ルート（一番上）とサブフォルダ共通で無視するもの
# ==========================================
# Expo & VS Code & Node
.expo/
.vscode/
node_modules/
dist/
web-build/
expo-env.d.ts

# generated native folders
/ios
/android
/expo/ios
/expo/android

# Native & Build files
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS & Environment
.DS_Store
*.pem
.env
.env.*
.env*.local

# typescript
*.tsbuildinfo

app-example

# Fly / Python
fly/__pycache__/
fly/*.pyc
fly/.venv/

# ==========================================
# 2. expo フォルダの中を直接指定する場合の保険
# ==========================================
expo/node_modules/
expo/.expo/
expo/dist/
expo/web-build/