# dependencies
expo/node_modules/

# Expo
expo/.expo/
expo/dist/
expo/web-build/
expo/expo-env.d.ts

# Native
expo/.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
expo/.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.*

# typescript
*.tsbuildinfo

app-example

# generated native folders
/expo/ios
/expo/android

# vscode
.vscode/

# Fly / Python
fly/__pycache__/
fly/*.pyc
fly/.venv/